
.LibraryItemContainerCategory {
    display: flex;
    flex-direction: column;
    background: #353535;
}

.LibraryItemContainerGroup {
    display: flex;
    flex-direction: column;
    background: #414141;
}

.LibraryItemContainerNone {
    display: flex;
    flex-direction: column;
    background: #414141;
}

.LibraryItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3;
    color: #989898;
}

.LibraryItemHeader:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.LibraryItemBody {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.LibraryItemIcon {
    padding: 6px;
}

.LibraryItemText {
    margin: 2;
}

.ClusterViewContainer {
    display: flex;
    flex-direction: row;
}

.ClusterLeftPane {
    display: flex;
    width: 64px;
    min-width: 64px;
    margin: 6px 0px 6px 0px;
    border-right: 2px;
    border-right-style: solid;
    justify-content: flex-end;
}

.ClusterRightPane {
    flex-grow: 2;
    margin: 6px;
    background: lightgreen;
}

.ClusterIcon {
    width: 32px;
    height: 32px;
    margin: 6px;
}
